//---------------------------------------
// IDL page
//---------------------------------------
@import 'images';
@import 'homepage';
@import 'color';
@import 'philosophy';
@import 'icons';
@import 'footer';
@import 'resources';
@import 'data-vis';
@import 'help';
@import 'miniCardStyles';
// IBM inserted cookie prefs
@import 'ibm-cookies';

//---------------------------------------
// IDL components
//---------------------------------------

@import '../components/NonLatinScripts/non-latin-script';
@import '../components/PlayPauseButton/play-pause-button';
@import '../components/VideoInternal/video-internal';
@import '../components/HomepageVideo/homepage-video';
@import '../components/HomepageTile/homepage-tile';
@import '../components/Carousel/carousel';
@import '../components/SwatchPaletteWidget/swatch-palette-widget';
@import '../components/MotionChecklist/motion-checklist';


//---------------------------------------
// IDL/Carbon shared components
//  WHERE WILL THESE LIVE?
//---------------------------------------
@import '../components/ColorBlock/color-block';
@import '../components/ColorGrid/color-grid';

//---------------------------------------
// Table component
//---------------------------------------
@import 'narrative';
//-----------------------

html body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


[class*='NextPrevious-module--direction'] {
    color: $ui-03;
}

[class*='NextPrevious-module--wrapper'] {
    background-color: $link-02;
}

[class*='NextPrevious-module--link'] {
    :hover {
        transition: all $duration--moderate-01 motion(exit, expressive);
        background-color: $focus;
    }
}

[class*='Footer-module--listItem'] {
    display: block;
    margin: 0 0 0.75rem 0;
}